streamlit
streamlit-extras
streamlit-ace
streamlit-code-editor
audio-recorder-streamlit
matplotlib
numpy
pandas
graphviz
altair
plotly
bokeh
pydeck
scipy
sympy
scikit-learn
vega-datasets
python-socketio
eventlet
firebase_admin
openai
requests
tiktoken
selenium
beautifulsoup4
PyPDF2
python-docx
odfpy
